<div class="card mb-4">
  <!-- <div class="card-image-wrapper">
    <img
      src="{{ user.photourl }}"
      alt="{{ user.username }}"
      class="card-img-top"
    />
  </div> -->
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1">
      <i class="fa fa-user"></i> {{user.firstname}} {{user.lastname}}
    </h6>
    <ul class="list-inline member-icons animate text-center" style="font-size: 14px">
      <!-- <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-user fa-xs" style="font-size: .75em"></i></button></li> -->
      <!-- <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-envelope fa-sm"></i></button></li> -->
    </ul>
    <p class="card-text text-muted text-center align-center">{{user.flatNo}}</p>
    <p class="card-text text-muted text-center align-center">{{user.userType}}</p>
  </div>
</div>
