<div class="container mt-5">
  <div
    *ngFor="let societyevent of societyevents" >
    <div class="card bg-light mb-3" >
        <div class="card-header"> <p>{{ societyevent.eventDate | date }}</p> <h1 class="card-title text-center mb-1 ">
            {{ societyevent.eventName }}</h1></div>
      <div class="card-body">
       
        <p class="lead">{{ societyevent.description }}</p>
        <hr class="my-4" />
        <p>Contribution {{ societyevent.contribution | currency:'INR' }}</p>
       
      </div>
    </div>
  </div>
</div>
